
@import url('variables.css');

.footer-reference {
    padding: 0px 10px;

    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.footer-reference-image {
    width: auto;
    height: 20px;
}

.footer-text-link {
    text-decoration: underline;
    color: var(--footer-text-color);
}